{
    "@context": "https://www.w3.org/ns/activitystreams",
    "actor": "{{actor}}",
    "cc": {{cc}},
    "id": "{{id}}",
    "object": {
        "attachment": [],
        "attributedTo": "{{attributed_to}}",
        "cc": {{cc}},
        "content": "{{content}}",
        "conversation": "{{conversation}}",
        "id": "{{id}}",
        "inReplyTo": null,
        "published": "{{published}}",
        "sensitive": false,
        "summary": null,
        "tag": [],
        "to": [
            "https://www.w3.org/ns/activitystreams#Public"
        ],
        "type": "Note",
        "url": "{{url}}"
    },
    "published": "{{published}}",
    "to": [
        "https://www.w3.org/ns/activitystreams#Public"
    ],
    "type": "Create"
}
