{
    "@context": "https://www.w3.org/ns/activitystreams",
    "actor": "{{actor}}",
    "id": "{{id}}",
    "object": {
        "id": "{{note_id}}",
        "type": "Tombstone"
    },
    "to": [
        "https://www.w3.org/ns/activitystreams#Public"
    ],
    "type": "Delete"
}
