{
  "@context": "https://www.w3.org/ns/activitystreams",
  "actor": "{{actor}}",
  "id": "{{id}}",
  "object": "{{actor}}",
  "to": [
    "https://www.w3.org/ns/activitystreams#Public"
  ],
  "type": "Delete"
}
