{
  "@context": "https://www.w3.org/ns/activitystreams",
  "actor": "{{actor}}",
  "id": "{{id}}",
  "object": {
    "actor": "{{actor}}",
    "id": "{{follow_id}}",
    "object": "{{follow_object}}",
    "type": "Follow"
  },
  "type": "Undo"
}
